trading_analyst.json
{
  "name": "trading-analyst",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "5725107a-6c7a-4680-8aeb-cc38ef68a5df",
      "name": "Telegram Trigger",
      "webhookId": "50672e53-57cd-4f36-ade3-f3514d16d4d6",
      "credentials": {
        "telegramApi": {
          "id": "BjmAW6o3S5sVhNj1",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "759660eb-bfe5-459a-a7ce-4522c10da02b",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        0
      ],
      "id": "f873c1bf-588e-4422-8a37-f531a077d87c",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        -100
      ],
      "id": "a71d52d7-7918-401d-b853-1c0e4380f879",
      "name": "Telegram",
      "webhookId": "5fd389e2-9c1c-4a1a-af46-f831add41b1e",
      "credentials": {
        "telegramApi": {
          "id": "BjmAW6o3S5sVhNj1",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        760,
        -100
      ],
      "id": "ae2f95df-1693-42c3-ac20-b46f398ce9b7",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "4TZykSJ4dSNJ480m",
          "name": "OpenAi account 12"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca53e89c-3867-4d88-9823-94a362c09cd7",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        140
      ],
      "id": "9cc105f5-a602-47e7-9cb4-2ab8835edbd9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1040,
        400
      ],
      "id": "91c13364-f936-476a-a105-b749f3aba152",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{$json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        140
      ],
      "id": "2045a20e-1080-4568-b8b6-393103e4bfeb",
      "name": "Telegram1",
      "webhookId": "1fd5b6e2-e246-40af-a276-1471cfed0559",
      "credentials": {
        "telegramApi": {
          "id": "BjmAW6o3S5sVhNj1",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        860,
        380
      ],
      "id": "6e4c48e1-ea56-4c4d-b3b6-11819ea4ebeb",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "iOf0gXWQ1EMKhTHP",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Overview\n\nYou are an Ai agent specializing in analyzing stocks. You can perform technical analysis using the **GetChart* tool to generate stock graph. \n\n# Instructions \n1. Begin by offering a warm and professional greeting \n2. Maintain a conversational style when discussing finance and stock markets. \n3. If a user requests technical analysis of a stock, supplying its ticker: \n- Send only the stock ticker to the GetChart tool. \n- Present the chart's analysis and insights in a conversational format. \n4. When addressing financial subject, provide thorough, easy-to-understand explanations suitable for the user's knowledge.\n5. Refrain from giving direct financial recommednations (buy or sell) or making predictions. \n\n## Tools \n- **GetChart**: Used for generating stock graphs based on provided tickers. \n\n## Standard Operating Procedure \n1. Interact with the user: Maintain a professional and approachable manner. \n2. Conduct stock analysis: \n- Upon request for technical analysis, send the stock's ticker symbol to the GetChart tool. \n- Present the chart's findings in an easy-to-understand, conversational manner. \n3. Clarify financial topics: Simplify intricate terms into accessible explanations suitable for the user's knowledge. \n4. Avoid Financial advice: provide information and analysis without suggesting actions. \n5. confirm user needs: ensure clarity by asking follow-up questions if necessary\n\nfinal notes: \n- always maintain a balance between professionalism and approachability. \n- use the getchart tool effectively, ensuring accurate and clear graph results. \n- avoid making financial prediction or recommendations. \n- focus on educating and informing user. \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        920,
        140
      ],
      "id": "c07c8ce4-9130-4ece-9d9f-016f7ea4efe2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "name": "getChart",
        "description": "Call this tool to get an analysis of a requested stock. The URL that is output from this tool must be returned in markdown format. \n\nIt'll be obligatory to pass ticker and chart style. Both can be specified by user. If chart style is not specified by user, user 'candle' as default. Possible options for style: [bar, candle, line, area, heikinAshi, hollowCandle, baseline, column, hiLo]",
        "workflowId": {
          "__rl": true,
          "value": "UOj0bqm60IkbKNv4",
          "mode": "list",
          "cachedResultName": "GetChart"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ticker": "={{ $fromAI('ticker') }}",
            "chart_style": "={{ $fromAI('chart_style') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ticker",
              "displayName": "ticker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chart_style",
              "displayName": "chart_style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1220,
        400
      ],
      "id": "8fabb9d3-2993-48dc-a24a-a99060a6b104",
      "name": "Get Chart"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Chart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65c9d927-fc87-4054-86e3-0786b9af6f5f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ecc890ad3f09697580f769285510e09aa2925ca39546e6cd9df80cc41f8793e3"
  },
  "id": "pRyHpVf1W39AHGHs",
  "tags": []
}